# OS/editor
.DS_Store
.idea/
.vscode/

# Logs
*.log

# Node/Angular
node_modules/
dist/
coverage/

# Go
bin/
*.test

# Env
.env
.env.*

# Docker
*.pid

# Local planning docs
apps/ms-estoque/PLANEJAMENTO_MS_ESTOQUE.md
apps/ms-faturamento/PLANEJAMENTO_MS_FATURAMENTO.md
