<div class="logo">
  <mat-icon class="logo-icon">description</mat-icon>
  <span class="logo-text">Korp Notas</span>
</div>

<nav class="navigation">
  <a routerLink="/inicio" routerLinkActive="active" class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Início</span>
  </a>
  <a routerLink="/produtos" routerLinkActive="active" class="nav-item">
    <mat-icon>inventory_2</mat-icon>
    <span>Produtos</span>
  </a>
  <a routerLink="/notas" routerLinkActive="active" class="nav-item">
    <mat-icon>description</mat-icon>
    <span>Notas Fiscais</span>
  </a>
</nav>
